@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-blue : #0090FF;
$color-white : #FFFFFF;
$color-gray : #393939;
$font : 'Poppins', sans-serif;

*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: $font;
}

body{
    #content{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background-color: $color-gray;
        width: 300px;
        height: 100%;
        #setting{
            padding: 5%;
            .box{
                float: none;
                margin: 10px;
                cursor: default;
                color: $color-white;
                font-family: $font;
                font-weight: bold;
                font-size: 20px;
                user-select: none;
                .checkmark{
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-color: $color-white;
                    clip-path: circle(50% at 50% 50%);
                    position: relative;
                    transition: all .2s;
                    float: left;
                    margin: 5px;
                    cursor: pointer;
                    &::after{
                        content: "";
                        position: absolute;
                        width: 7px;
                        height: 14px;
                        border-right: 3px $color-white solid;
                        border-bottom: 3px $color-white solid;
                        top: 40%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotateZ(40deg) scale(0.75);
                    }
                }
                #Symbol:checked ~ .checkmark, #Number:checked ~ .checkmark, #Upper:checked ~ .checkmark{
                    background-color: $color-blue;
                }
            }
            #sliderdiv{
                #slider{
                    -webkit-appearance: none;
                    width: 36%;
                    height: 7px;
                    margin: 10px;
                    background: $color-white;
                    outline: none;
                    transition: all .2s;
                    border-radius: 500px;
                    &::-webkit-slider-thumb{
                        -webkit-appearance: none;
                        appearance: none;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: $color-blue;
                        cursor: pointer;
                    }
                    &::-moz-range-thumb{
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background: #4CAF50;
                        cursor: pointer;
                    }
                    &::-moz-range-progress{
                        height: 100%;
                        background-color: $color-blue;
                    }
                }
                #slider-value{
                    font-family: $font;
                    color: $color-white;
                    position: absolute;
                    font-weight: 500;
                    font-size: 18px
                }
            }
        }
        #output{
            display: flex;
            flex-grow: 3;            
            background-color: $color-white;
            align-content:stretch;
            width: 100%;
            height: 3.5em;
            border-radius: 10px;
            #password-output{
                height: 100%;
                width: 70%;
                position: relative;
                left: 0;
                width: 78%;
                outline: none;
                padding-left: 5%;
                border: none;
                border-radius: 0;
                background-color: $color-white;
                font-size: 15px;
            }
            #rest{
                display: grid;
                place-items: center;
                background-color: #D9E1E3;
                width: 3em;
                color: $color-gray;
                font-size: 20px;
                cursor: pointer;
            }
            #copy{
                display: grid;
                place-items: center;
                width: 3.5rem;
                color: $color-gray;
                font-size: 23px;
                cursor: pointer;
                background-color: $color-white;
            }
        }
    }
}